# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/
.env
.env.local
.pytest_cache/
.coverage
htmlcov/

# Node
node_modules/
dist/
dist-ssr/
npm-debug.log*

# Database & Instance (Handled by volumes)
instance/
rewear_app/instance/
rewear_app/uploads/
*.db
*.sqlite3

# Editor
.vscode/
.idea/
.DS_Store

# Docker
Dockerfile*
docker-compose.yml
.dockerignore
